.embla-container {
  position: relative;
}

.embla-content {
  margin: 1.25rem auto 0;
  width: calc(100% - 76px);
}

.next2,
.prev2 {
  top: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next2 {
  right: 0;
}
.embla__viewport {
  overflow: hidden;
}

.embla-inner-container {
  display: flex;
  flex-direction: row;
}

.embla-slide {
  flex: 0 0 25%; /* Default: 4 product cards per slide */
}

@media (max-width: 768px) { /* Mobile screens */
  .embla-slide {
    flex: 0 0 100%; /* 1 product card per slide */
  }
}


@media (min-width: 1550px) {
  .embla-slide {
    flex: 0 0 20%; /* Breakpoint SM slide covers 50% of the viewport */
  }
}
