@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.title {
    color: #000;
    width: 16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #E0DC0D; /* Set the color of the scrollbar thumb */
  }